<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
          <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation"
          >
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if(isUser){ %>
                    <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
                    </li>

                    <li class="nav-item">
                         <a class="nav-link" href="/groups">Groups</a>
                    </li>

                    <li class="nav-item">
                         <a class="nav-link" href="/friends">Friends</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                         <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/auth/register">Signup</a>
                    </li>
                    <% } %> <% if(isUser) { %>
                    <li class="nav-item dropdown">
                         <a
                              class="nav-link dropdown-toggle"
                              href="#"
                              id="navbarDropdown"
                              role="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                         >
                              Dropdown
                         </a>
                         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider" /></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                         </ul>
                    </li>

                    <li class="nav-item">
                         <form id="logout-form" method="POST" action="/auth/logout">
                              <button type="submit" id="logout" class="btn btn-danger">
                                   Logout
                              </button>
                         </form>
                    </li>

                    <% } %>
               </ul>
          </div>
     </div>
</nav>

<!-- <nav
     class="navbar navbar-expand-lg"
     style="background-color: black; height: 55px"
     class="navbar navbar-dark bg-primary"
     data-bs-theme="dark"
>
     <div class="container">
          <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation"
          >
               <span class="navbar-toggler-icon"></span>
          </button>

          <ul style="margin-bottom: 0">
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <%# if(isUser){ %>

                         <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                         <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                         <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
                         <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
                         <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>

                         <%# } else { %>

                         <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                         <li class="nav-item">
                              <a class="nav-link" href="/auth/register">Signup</a>
                         </li>
                         <%# } %>
               
                         <%# if(isUser) { %>
                         <div class="dropdown">
                              <button
                                   class="btn btn-secondary dropdown-toggle"
                                   type="button"
                                   id="dropdownMenuButton"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                              >
                                   Dropdown button
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <a class="dropdown-item" href="#">Action</a>
                                   <a class="dropdown-item" href="#">Another action</a>
                                   <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                         </div>
                         <li class="nav-item">
                              <form id="logout-form" method="POST" action="/auth/logout">
                                   <button type="submit" id="logout" class="btn btn-danger">
                                        Logout
                                   </button>
                              </form>
                         </li>
                         <%# } %>
                    </ul>
               </div>
          </ul>
     </div>
</nav> -->
